<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Detail</title>
</head>
<body>
<h1>Employees Detail</h1>
    <ul>
        <li> Name: {{ object.fname }} {{ object.mname }} {{ object.lnamename}}</li>
         <li> mobile : {{ object.mobile }}</li>
         <li> telephone : {{ object.telephone }}</li>
         <li> block : {{ object.block }}</li>
         <li> street : {{ object.street }}</li>
         <li> pin: {{ object.pin }}</li>
         <li> city : {{ object.city }}</li>
         <li> state : {{ object.state }}</li>
         <li> country : {{ object.country }}</li>
         <li> designation : {{ object.designation }}</li>
         <li> dob : {{ object.dob }}</li>
         <li> gender : {{ object.gender }}</li>
         <li> education : {{ object.education }}</li>
         <li> dateofjoin : {{ object.dateofjoin }}</li>
         <li> shifttime : {{ object.shifttime }}</li>
         <li> workinghours : {{ object.workinghours }}</li>
         <li> salary : {{ object.salary }}</li>
         <li> bankname : {{ object.bankname }}</li>
         <li> bankaccountno : {{ object.bankaccountno }}</li>
         <li> ifsccode : {{ object.ifsccode }}</li>
         <li> panno : {{ object.panno }}</li>
         <li> aadharno : {{ object.aadharno }}</li>
         <li> reference : {{ object.reference }}</li>
         <li> photo : {{ object.photo }}</li>
         <li> document : {{ object.document }}</li>
     </ul>
</body>
</html>