{% extends "users/layout.html" %}
{% block body %}
    <h1> Are you sure you want to delete ?</h1>
    <form method="post">
    {% csrf_token %}
    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>


                    </div>

                    <div class="card card-about-me">

                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        Date
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Vehicle
                                    </div>
                                    <div class="content">
                                        {{ object.vehicle }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">petrol</i>
                                        Petrol
                                    </div>
                                    <div class="content">
                                       {{ object.petrol }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        diesel
                                    </div>
                                    <div class="content">
                                        {{ object.diesel}}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        PP
                                    </div>
                                    <div class="content">
                                        {{ object.pp }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        DP
                                    </div>
                                    <div class="content">
                                        {{ object.dp }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Nozzel
                                    </div>
                                    <div class="content">
                                        {{ object.nozzel }}
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </div>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'employee-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}